$primary: #360033;
$secondary: #0B8793;
$third: #344F5C;
$fourth: #a3a3a3;
$fifth: #e7ead9;
$formFieldText: rgba(0, 0, 0, 0.8);
$primaryGradient: linear-gradient(to right, #360033, #0b8793);

.btn {
  &.primary-gradient {
    background: $primaryGradient;
    color: $fifth;
  }

  &.primary {
    background-color: $primary;
    color: $fifth;
  }

  &.secondary {
    background-color: $secondary;
    color: $fifth;
  }

  &.third {
    background-color: $third;
    color: $fifth;
  }

  &.fifth {
    background-color: $fifth;
    color: $fifth;
  }

  &.fourth {
    background-color: $fourth;
    color: $fifth;
  }
}