{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:vue/essential", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "prettier", "airbnb-base"],
  // "parser": "@typescript-eslint/parser",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx",".vue"], // Your TypeScript files extension
      "parserOptions": {
        "project": ["./tsconfig.json"] // Specify it only for TypeScript files
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    // "max-len": [
    //   "warn",
    //   {
    //     code: 150,
    //     tabWidth: 2,
    //     comments: 150,
    //     ignoreComments: false,
    //     ignoreTrailingComments: true,
    //     ignoreUrls: true,
    //     ignoreStrings: true,
    //     ignoreTemplateLiterals: true,
    //     ignoreRegExpLiterals: true,
    //   },
    // ],
  }
}
